/* we type the keyframes and define the styling of the animation from 0% to 100% and give it a name */
@keyframes moveLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
    80% {
      transform: translateX(5rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes moveRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
    80% {
      transform: translateX(-5rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes moveUp {
    0% {
      opacity: 0;
      transform: translateY(5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }