.u-center-text{
    text-align: center !important;
    
}
.u-mb-lg{
    margin-bottom: 8rem!important;
    // @include respond (tab-port){
    //     margin-bottom: 5rem!important;
    //   }
}
.u-mt-lg{
    margin-top: 8rem!important;
    // @include respond (tab-port){
    //     margin-bottom: 5rem!important;
    //   }
}
.u-mb-md{
    margin-bottom: 4rem!important;
    // @include respond (tab-port){
    //     margin-bottom: 2rem!important;
    //   }
}
.u-mb-sm{
    margin-bottom: 1rem!important;
}
.u-mt-sm{
    margin-top: 1rem!important;
}