.feature-icon {
  height: 4rem;
  width: 4rem;
  fill:none ;
  &--hotel {
   
  }
  &--park {
  
  }
  &--kids {
   
  }
  &--sports {
  //  height: 5.5rem;
//  width: 5.5rem;
  & + h3 {
    color: var(--color-Primary-dark);
  }
  }
  &--commercial {
   
  }
  &--medical {
   
  }
}
.feature-icon-path {
  fill: var(--color-Primary-light);
}
.sports-path {
  fill: var(--color-Primary-dark);
  
 
}
