.feature-icon {
  height: 5rem;
  width: 5rem;
  fill:none &--hotel {
    //  width="30"
    //  height="14"
  }
  &--park {
    //  width="37"
    // height="34"
  }
  &--kids {
    //   width="38"
    //   height="42"
  }
  &--sports {
    //    width="59"
    //  height="31"
  }
  &--commercial {
    //  width="43"
    // height="38"
  }
  &--medical {
    //   width="32"
    // height="35"
  }
}
.feature-icon-path {
  fill: var(--color-Primary-light);
}
.sports-path {
  fill: var(--color-Primary-light);
}
