@import "../../../sass/abstract/mixins";
.img-slider {
  position: relative;
  flex: 1;
  margin: 10px;
  height: 87%;
  align-self: flex-end;
@include respond (tab - port) {
  margin-block-start: 10rem;
  height: 100rem;
}
@include respond (phone) {
 
  height: 80rem;
}
@include respond (phone-sm) {
  height: 60rem;
}
  &__slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);

    &--active {
      clip-path: circle(150% at 0 50%);
      transition: 2s;
      transition-property: clip-path;
    }
  }
  &__img {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    &--1 {
    }
    &--2 {
      filter: sepia(1);
    }
    &--3 {
      filter: hue-rotate(45deg);
    }
    &--4 {
      filter: grayscale(1);
    }
    &--5 {
      filter: sepia(266%);
    }
    &--6 {
      filter: drop-shadow(2px 4px 6px black);
    }
  }
  &__navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.radio-btn {
  background: var(--color-grey-light-2);
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem;
  border-radius: 50%;
  cursor: pointer;
  &--active {
    background: var(--color-grey-light);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
}

