@import "../../sass/abstract/mixins";
.header {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-block-start: 5.5rem;
  z-index: 10000000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transition: all 1s ease-in-out;
  
}
.sticky {
 
  padding-block-start: 0;
 background-color: var(--color-primary-opacity);
}
.logo {
  background-color: transparent;
  height: 10rem;
  width: 20rem;
  margin-right: auto;
  margin-left: 12rem;
  @include respond (tab-port) {
    margin-left: 8rem;
  }
  @include respond (tab-port) {
    height: 7rem;
    width: 16rem;
  }
  @include respond (phone) {
    height: 6rem;
    width: 15rem;
    margin-left: 4rem;
  }
  @include respond (phone-sm) {
    margin-left: 1rem;
  }
}
.user-nav {
  display: flex;
  margin-right: 5.5rem;
  @include respond (tab-port) {
    margin-right: 1rem;
  }
  @include respond (phone) {
    margin-right: 1rem;
  }
  @include respond (phone-sm) {
    margin-right: 1rem;
  }
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__icon-box {
   &:nth-child(3){
    @include respond (phone) {
      display: none;
    }
    
   }
  
  &--weather{
    padding: 0 0;
  
   
  }
  }
  &__icon {
    height: 8rem;
   margin-block-start: .25rem;
  transition: all .5s ease-in-out;
  }
  &__notification {
font-family: 'diodrum';
font-weight: 500;
font-size: 1.8rem;
line-height: 2rem;
  margin-left: 1rem;
  @include respond (tab){
    font-size: 2rem;
    margin : -1.5rem 0 0 2rem;
  }
 
  }

  &__menu-text {
    margin-right: 2rem;
    text-transform: uppercase;
    font-family: "diodrum";
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    @include respond (tab-port) {
     display: none;
    }
  }
}
