// Diodrum Font
@font-face {
    font-family:'diodrum' ;
    src: url(../../assets/fonts/Diodrum.Arabic/DiodrumArabic-Light.ttf);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family:'diodrum' ;
    src: url(../../assets/fonts/Diodrum.Arabic/DiodrumArabic-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family:'diodrum' ;
    src: url(../../assets/fonts/Diodrum.Arabic/DiodrumArabic-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family:'diodrum' ;
    src: url(../../assets/fonts/Diodrum.Arabic/DiodrumArabic-Semibold.ttf);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family:'diodrum' ;
    src: url(../../assets/fonts/Diodrum.Arabic/DiodrumArabic-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

// Shanti Font

@font-face {
    font-family:'shanti' ;
    src: url(../../assets/fonts/Shanti/Shanti-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

// Sans Sharp No1 Font
@font-face {
    font-family:'sans sharp' ;
    src: url(../../assets/fonts/SharpSansNo1/SharpSansNo1-Book.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family:'sans sharp' ;
    src: url(../../assets/fonts/SharpSansNo1/SharpSansNo1-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family:'sans sharp' ;
    src: url(../../assets/fonts/SharpSansNo1/SharpSansNo1-Semibold.ttf);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family:'sans sharp' ;
    src: url(../../assets/fonts/SharpSansNo1/SharpSansNo1-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}