.btn {
    position: relative;
  text-transform: uppercase;
  box-shadow: var(--shadow-dark);
  background-color: var(--color-white);
  font-family: "shanti";
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1.5rem 3.4rem;
  @include respond (tab){
        padding: 1rem 1.5rem;
      }
  border: none;
  border-radius:.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:active {
    transform: translateY(0.2rem);
    box-shadow: var(--shadow-light);
  }
  &--about {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 1.5rem 3.5rem;
    animation: moveUp 3s 1s ease-in-out backwards;
    &:first-child {
      margin-right: 2.5rem;
    }
    @include respond (tab-port) {
     
      &:first-child {
        margin-right: 5rem;
      }
      padding: 1.5rem 4rem;
    }
    @include respond (phone-sm) {
     
      &:first-child {
        margin-right: 2.55rem;
      }
      padding: 1rem 2.25rem;
    }
  }
 
  &__text{
      position: relative;
      z-index: 10;
      color: var(--color-Primary-dark);
      transition: all .5s .2s;
      
  }
  &:hover &__text{
    color: var(--color-white);
  } 
 
}

.btn::before {
   
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-Primary-dark);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}

.btn:hover::before {
  transform: scaleY(1);
  width: 100%;
}

.btn:active::before {
  background-color:  var(--color-Primary-light);
}
