.features-section {
  // background-color: black;
  padding-block: 20rem;
  display: flex;
 
  
  &__left-side {
    flex: 1;
  }
  &__slider-box {
    flex: 1;
    
    
    display: flex;
  }

  &__text-box {
  }
  &__features {
    display: flex;
    margin-inline-end: 2rem;
  }
}

// FeaturesContainer
.left-features {
  flex: 1;

  display: flex;
  flex-direction: column;
  border-right: 1px dashed var(--color-border);
  align-items: center;

  animation: moveLeft 3s ease-in-out backwards;
}
.right-features {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
  animation: moveRight 3s ease-in-out backwards;
}

// Feature

.feature {
  width: 85%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
  &:nth-child(2) {
    p {
      width: 70%;
    }
  }
  &:last-child {
    p {
      width: 70%;
    }
  }
  &:last-child{
    padding-block-end: 1rem;
  }
  &:not(:last-child) {
    border-bottom: 1px dashed var(--color-border);
  }
}
