@import "../../sass/abstract/mixins";
.features-section {
 
  padding-block: 10rem 20rem;
  display: flex;
 
  @include respond (tab-port) {
     
     flex-direction: column;
     
   
   }
   
  &__left-side {
    flex: 1;
    @include respond (tab-port) {
      
    
    }
  }
  &__slider-box {
    flex: 1;
    animation: moveUp 3s ease-in-out backwards;
    
   display: flex;
  }

  &__text-box {
  }
  &__features {
    display: flex;
    margin-inline-end: 2rem;
    @include respond (tab-port) {
      
      margin-inline-end: 0;
      padding-inline: 8.5rem;
     
    }
    @include respond (phone) {
      padding-inline: 4.5rem;
     
    }
    @include respond (phone-sm){
      padding-inline: 0;
      margin-inline-end: 0;
    }
  }


  
}


// FeaturesContainer
.left-features {
  flex: 1;

  display: flex;
  flex-direction: column;
  border-right: 1px dashed var(--color-border);
  align-items: center;

  animation: moveLeft 3s ease-in-out backwards;
}
.right-features {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
  animation: moveRight 3s ease-in-out backwards;
}

// Feature

.feature {
  width: 85%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
  &:nth-child(2) {
    p {
      width: 70%;
    }
  }
  &:last-child {
    p {
      width: 70%;
    }
  }
  &:last-child{
    padding-block-end: 1rem;
  }
  &:not(:last-child) {
    border-bottom: 1px dashed var(--color-border);
  }

  @include respond (tab-port) {
      
    
    padding-inline: 5rem;
    padding-block: 5rem;
   
  }
  @include respond (phone) {
    padding-inline:0;
    padding-block: 5rem;
   
  }
}
